{% extends 'admin/master.html' %}

{% block head %}
{{ super() }}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
{% endblock %}

{% block body %}

<div class="BatchesAbout">
	<div class="Title">
		<h3><i class="fas fa-chevron-right"></i>Batches</h3>
	</div>
	<br><br>
	<div class="Board">
		<span class="button"><a href="/batch/new"><i class="fas fa-plus-circle"></i><p>Add Batch</p></a></span>
		<!-- <span class="button"><a href="/batch"><i class="fas fa-user-friends"></i><p>Browse Batches</p></a></span> -->
		<br><br><br>
		<p class="sub1"><i class="fas fa-chevron-right"></i>About Batch {{ batch.name }}</p>
		<br><br>
		<table class="about">
				<tr>
						<th><p>Name</p></th>
						<td><p>{{batch.name}}</p></td>
				</tr>
				<tr>
						<th><p>Start Date</p></th>
						<td><p>{{batch.start_date}}</p></td>
				</tr>
				<tr>
						<th><p>Start Time</p></th>
						<td><p>{{batch.start_time}}</p></td>
				</tr>
		</table>
		<br><br>
		<div>
			<p class="sub1"><i class="fas fa-chevron-right"></i>Performance :</p>
			<svg width="960" height="500" id="svg_test"></svg>
		</div>
		<br><br>
		<div>
			<p class="sub1"><i class="fas fa-chevron-right"></i>Performance :</p>
			<svg width="960" height="500" id="svg_module"></svg>
		</div>
	</div>
</div>



<script>

// Script for generating Student Performance chart
// To change size, only change the height, width of the svg element above
window.onload = function () {
	text = "{{csv}}";

		function createGraph() {
			var palette = ["#5DA5DA", "#FAA43A", "#60BD68", "#F17CB0", "#B2912F", "#B276B2", "#DECF3F", "#F15854","#4D4D4D"]
			var pal = {count: 0}
			function chooseFill(name) {
				if(pal[name] == undefined) {
					pal[name] = palette[pal['count']]
					pal['count'] += 1
					pal['count'] = pal['count'] % 10
					return pal[name]
				}
				else {
					return pal[name]
				}
			}
			d = d3.csvParse(text)

				var svg = d3.select("#svg_test"),
    		margin = {top: 20, right: 20, bottom: 30, left: 40},
    		width = +svg.attr("width") - margin.left - margin.right,
    		height = +svg.attr("height") - margin.top - margin.bottom;

			var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
    		y = d3.scaleLinear().rangeRound([height, 0]);

			var g = svg.append("g")
    			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			grade = []
				d.forEach( function(i) {
						grade.push(i.avg)
				})

  			x.domain(d.map(function(d) { return d.module; }));
  			y.domain([0, 9]);

  			g.append("g")
      			.attr("class", "axis axis--x")
      			.attr("transform", "translate(0," + height + ")")
      			.call(d3.axisBottom(x));

  			g.append("g")
      			.attr("class", "axis axis--y")
      			.call(d3.axisLeft(y).ticks(9))
    			.append("text")
      			.attr("transform", "rotate(-90)")
      			.attr("y", 6)
      			.attr("dy", "0.71em")
      			.attr("text-anchor", "end")
      			.text("Frequency");

  			g.selectAll(".bar")
    			.data(d)
    			.enter().append("rect")
      			.attr("class", "bar")
      			.attr("x", function(d) { return x(d.module); })
      			.attr("y", function(d) { return y(d.avg); })
      			.attr("width", x.bandwidth())
				.attr("fill", (d) => { return chooseFill(d.module) })
      			.attr("height", function(d) { return height - y(d.avg); });
		}

	text = "{{csv}}";

		function createGraph() {
			var palette = ["#5DA5DA", "#FAA43A", "#60BD68", "#F17CB0", "#B2912F", "#B276B2", "#DECF3F", "#F15854","#4D4D4D"]
			var pal = {count: 0}
			function chooseFill(name) {
				if(pal[name] == undefined) {
					pal[name] = palette[pal['count']]
					pal['count'] += 1
					pal['count'] = pal['count'] % 10
					return pal[name]
				}
				else {
					return pal[name]
				}
			}
			d = d3.csvParse(text)

				var svg = d3.select("#svg_module"),
    		margin = {top: 20, right: 20, bottom: 30, left: 40},
    		width = +svg.attr("width") - margin.left - margin.right,
    		height = +svg.attr("height") - margin.top - margin.bottom;

			var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
    		y = d3.scaleLinear().rangeRound([height, 0]);

			var g = svg.append("g")
    			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			grade = []
				d.forEach( function(i) {
						grade.push(i.avg)
				})

  			x.domain(d.map(function(d) { return d.module; }));
  			y.domain([0, 9]);

  			g.append("g")
      			.attr("class", "axis axis--x")
      			.attr("transform", "translate(0," + height + ")")
      			.call(d3.axisBottom(x));

  			g.append("g")
      			.attr("class", "axis axis--y")
      			.call(d3.axisLeft(y).ticks(9))
    			.append("text")
      			.attr("transform", "rotate(-90)")
      			.attr("y", 6)
      			.attr("dy", "0.71em")
      			.attr("text-anchor", "end")
      			.text("Frequency");

  			g.selectAll(".bar")
    			.data(d)
    			.enter().append("rect")
      			.attr("class", "bar")
      			.attr("x", function(d) { return x(d.module); })
      			.attr("y", function(d) { return y(d.avg); })
      			.attr("width", x.bandwidth())
				.attr("fill", (d) => { return chooseFill(d.module) })
      			.attr("height", function(d) { return height - y(d.avg); });
		}

		createGraph();


}





</script>

{% endblock %}
