{% extends 'admin/master.html' %}
{% block body %}

  <div class="TestAbout">
    <div class="UserDetail">
      <h3>Dr. Deepak Mashru</h3>
      <img src="https://0.academia-photos.com/6365507/3086920/3632179/s200_deepak.mashru.jpg" alt="">
      <!-- <p><i class="fas fa-angle-down"></i></p> -->
    </div>

    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>Tests</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="#"><i class="fas fa-plus-circle"></i><p>Add Test</p></a></span>
      <span class="button"><a href="#"><i class="fas fa-file-alt"></i><p>Browse Test</p></a></span>
      <br><br><br>

      <p class="sub1"><i class="fas fa-chevron-right"></i>About Test : {{test.name}}</p>
      <br><br>

      <p class="sub1" style="font-size:17px;"><i class="fas fa-chevron-right"></i>Students Appearing In The Exam</p>
      <br>

      <span class="UserName"><i class="fas fa-user-circle"></i><p>Deval Koradiya</p></span>
      <span class="UserName"><i class="fas fa-user-circle"></i><p>Sameer Manek</p></span>
      <br><br>

      <p class="sub1" style="font-size:17px;"><i class="fas fa-chevron-right"></i>Details</p>
      <br>
      <table class="Detail">
          <tr>
              <td><i class="fas fa-calendar-alt"></i>Date</td>
              <td>:</td>
              <td>11-11-1997</td>
          </tr>
          <tr>
              <td><i class="fas fa-align-justify"></i>Type</td>
              <td>:</td>
              <td>Type 1</td>
          </tr>
          <tr>
              <td><i class="fas fa-dot-circle"></i>Graded</td>
              <td>:</td>
              <td>10</td>
          </tr>
      </table>
      <br>
      <p class="sub1" style="font-size:17px;"><i class="fas fa-chevron-right"></i>Student Grades</p>
      <br>
      <table class="Grades">
        <thead>
            <tr>
                <th>Name</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td>{{student.name}}</td>
              <td>{{student.grade}}</td>
          </tr>
          <tr>
              <td>{{student.name}}</td>
              <td>{{student.grade}}</td>
          </tr>
          <tr>
              <td>{{student.name}}</td>
              <td>{{student.grade}}</td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>




<!--


    <h1>Tests</h1>
    <ul>
        <li><a href="/test">Browse tests</a></li>
        <li><a href="/test/new">new test</a></li>
    </ul>

    <h2>about test : {{test.name}}</h2>

    <h3>students appearing in the exam:</h3>
        <ul>
        {% for student in students %}
            <li>{{student.name}}</li>
        {% endfor %}
        </ul>
    <h3>details:</h3>
        <table border="1" cellpadding="2">
            <tr>
                <td>Date</td>
                <td>{{test.date}}</td>
            </tr>
            <tr>
                <td>type</td>
                <td>{{test.type}}</td>
            </tr>
            <tr>
                <td>graded</td>
                <td>{% print "no" if test.graded == 0 else "yes" %}</td>
            </tr>
        </table>
    {% if test.graded != 0 %}
    <h3>Student grades</h3>

    <table border="1" cellpadding="2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.grade}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %} -->
{% endblock %}
