{% extends 'admin/master.html' %}
{% block body %}

  <div class="BrowseTest">


    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>Tests</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="/test/new"><i class="fas fa-plus-circle"></i><p>Add Test</p></a></span>
      <span class="button"><a href="/test"><i class="fas fa-file-alt"></i><p>Browse Test</p></a></span>
      <br><br><br>
      <p class="sub1"><i class="fas fa-chevron-right"></i>Carrently Added Tests</p>
      <br><br>

      <table border="1" cellpadding="2">
          <thead>
          <tr>
              <th>No.</th>
              <th>Test Name</th>
              <th>Date</th>
              <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for test in tests %}
              <tr>
                  <td>{{loop.index}}</td>
                  <td>{{test.name}}</td>
                  <td>{{test.date}}</td>
                  <td><a href="/test/grade/{{test.id}}">Grade</a>&nbsp; <a href="/test/update/{{test.id}}">Update</a> &nbsp; <a href="/test/about/{{test.id}}">About</a></td>
              </tr>
          {% endfor %}
          </tbody>
      </table>

    </div>
  </div>
    <!-- <h1>Tests</h1>
    <ul>
        <li><a href="#">Browse tests</a></li>
        <li><a href="/test/new">new test</a></li>
    </ul>

    <h2>Carrently added tests:</h2>
    <table border="1" cellpadding="2">
        <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{test.name}}</td>
                <td>{{test.date}}</td>
                <td><a href="#">Grade</a>&nbsp; <a href="#">Update</a> &nbsp; <a href="/test/about/{{test.id}}">About</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table> -->
{% endblock %}
