{% extends 'admin/master.html' %}
{% block body %}

  <div class="CreateTest">
    <div class="UserDetail">
      <h3>Dr. Deepak Mashru</h3>
      <img src="https://0.academia-photos.com/6365507/3086920/3632179/s200_deepak.mashru.jpg" alt="">
      <!-- <p><i class="fas fa-angle-down"></i></p> -->
    </div>

    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>Tests</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="/test/new"><i class="fas fa-plus-circle"></i><p>Add Test</p></a></span>
      <span class="button"><a href="/test"><i class="fas fa-file-alt"></i><p>Browse Test</p></a></span>
      <br><br><br>
      <p class="sub1"><i class="fas fa-chevron-right"></i>Add New Test</p>
      <br><br>

      <div class="TestForm">
        <form action="" method="post">
          <input type="text" name="name" placeholder="Name" /><br>
          <input type="text" name="date" id="datepicker" placeholder="Date" /><br>
          <br>
          <p style="font-size:18px;" class="sub1"><i class="fas fa-caret-right"></i>Select Batch</p>
          <select name="batch" id="batch">
              {% for batch in batches %}
                <option value="{{batch.id}}">{{batch.name}}</option>
              {% endfor %}
          </select><br>
          <br>
          <p style="font-size:18px;" class="sub1"><i class="fas fa-caret-right"></i>Select Student</p><br>
          <div id="loadStudents"></div>
          <input type="text" name="type" placeholder="Type of Test" /><br><br>
          <button><i class="fas fa-plus-circle"></i>Add</button>
        </form>
      </div>
    </div>
  </div>

  <script>
  	$( function() {
      	$( "#datepicker" ).datepicker({
              dateFormat : 'yy-mm-dd',
              changeMonth : true,
              changeYear : true,
              yearRange : '1980:2005'
          });
    	} );

  	function fetchStudents(){
  	    var val = $("#batch option:selected").val();
  	    $("#loadStudents").html("");
  	    $.ajax({
              url: "/api/batch/students/"+val,
              dataType: "json",
              type: "post",
              data: {
                  key: "94l5ezGDw7EsHF9a"
              },
              success: function(data){
                  $.each(data, function(key, value){
                      var div = '<label><input type="checkbox" name="StudentList[]" value="'+value['id']+'" /> <span class="checkmark"></span> '+value['name']+'</label><br />';
                      $("#loadStudents").append(div);
                  })
              }
          })
      }

  	$(document).ready(function(){
  	   fetchStudents()
      });

  	$("#batch").change(function(){
          fetchStudents()
      });
  </script>

<!--
    <h1>Tests</h1>
    <ul>
        <li><a href="/test">Browse tests</a></li>
        <li><a href="/test/new">new test</a></li>
    </ul>

    <h2>Create new test</h2>

    <form action="" method="post">
        <input type="text" name="name" placeholder="name" /><br><br>
        <input type="text" name="date" id="datepicker" placeholder="date" /><br><br>
        <label for="batch">Select Batch: &nbsp;</label>
        <select name="batch" id="batch">
            {% for batch in batches %}
            <option value="{{batch.id}}">{{batch.name}}</option>
            {% endfor %}
        </select><br><br>
        <h4>Select Students:</h4>
        <div id="loadStudents"></div>
        <br><br>
        <input type="text" name="type" placeholder="type of test" /><br><br>

        <button>Confirm test</button>
    </form>


 -->
{% endblock %}
