<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafelingua : grade test</title>
</head>
<body>

    <h1>Tests</h1>
    <ul>
        <li><a href="/test">Browse tests</a></li>
        <li><a href="/test/new">new test</a></li>
    </ul>

    <h2>grade test : {{test.name}}</h2>
    <form action="" method="post">
        <table border="1" cellpadding="2">
            <thead>
            <tr>
                <th>name</th>
                <th>grade</th>
            </tr>
            </thead>

            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{student.name}}</td>
                    <td><input type="text" placeholder="enter grade" name="grades[]" value="{% print student.grade if student.grade is not none %}" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button>submit grades</button>
    </form>

</body>
</html>
