{% extends 'admin/master.html' %}

{% block head %}
{{ super() }}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
{% endblock %}

{% block body %}

<div class="StudentAbout">
	<div class="Title">
		<h3><i class="fas fa-chevron-right"></i>Students</h3>
	</div>
	<br><br>
	<div class="Board">
		<span class="button"><a href="/student/new"><i class="fas fa-plus-circle"></i><p>Add Student</p></a></span>
		<span class="button"><a href="/student"><i class="fas fa-user"></i><p>Browse Students</p></a></span>
		<br><br><br>
		<p class="sub1"><i class="fas fa-chevron-right"></i>About {{student.fname}} {{student.lname}}</p>
		<br><br>
		<table class="about">
			<tr>
				<th><p>Name: </p></th>
				<td><p>{{student.fname | capitalize}} {{student.lname | capitalize}}</p></td>
			</tr>
			<tr>
				<th><p>RFID: </p></th>
				<td><p>{{student.RFID}}</p></td>
			</tr>
			<tr>
				<th><p>Email: </p></th>
				<td><p>{{student.email}}</p></td>
			</tr>
			<tr>
				<th><p>Phone: </p></th>
				<td><p>{{student.mobile}}</p></td>
			</tr>
			<tr>
				<th><p>10<sup>th</sup> Grade: </p></th>
				<td><p>{{student.grade10}}</p></td>
			</tr>
			<tr>
				<th><p>12<sup>th</sup> Grade: </p></th>
				<td><p>{{student.grade12}}</p></td>
			</tr>
			<tr>
				<th><p>Graduate: </p></th>
				<td><p>{{student.graduate}}</p></td>
			</tr>
			<tr>
				<th><p>Post Graduate: </p></th>
				<td><p>{{student.PG}}</p></td>
			</tr>
			<tr>
				<th><p>Backlog(s):</p></th>
				<td><p>{{student.NOB}}</p></td>
			</tr>
			<tr>
				<th><p>Target Contry:</p></th>
				<td><p>{{student.country}}</p></td>
			</tr>
			<!-- <tr>
				<th>Picture</th>
				<td><img src={{ url_for("static", filename=student.picture) }}></td>
			</tr> -->
		</table>
		<br><br>
		<div>
			<p class="sub1"><i class="fas fa-chevron-right"></i>Performance :</p>
			<svg width="960" height="500" id="chart1"></svg>
			<svg width="960" height="500" id="chart2"></svg>
		</div>
	</div>
</div>



<script>

// Script for generating Student Performance chart
// To change size, only change the height, width of the svg element above
window.onload = function () {

	text = "{{ csv }}";

		function createGraph() {
			var palette = ["#5DA5DA", "#FAA43A", "#60BD68", "#F17CB0", "#B2912F", "#B276B2", "#DECF3F", "#F15854","#4D4D4D"]
			var pal = {count: 0}
			function chooseFill(name) {
				if(pal[name] == undefined) {
					pal[name] = palette[pal['count']]
					pal['count'] += 1
					pal['count'] = pal['count'] % 10
					return pal[name]
				}
				else {
					return pal[name]
				}
			}

			d = d3.csvParse(text)

			var svg = d3.select("#chart1"),
    		margin = {top: 20, right: 20, bottom: 30, left: 40},
    		width = +svg.attr("width") - margin.left - margin.right,
    		height = +svg.attr("height") - margin.top - margin.bottom;

			var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
    		y = d3.scaleLinear().rangeRound([height, 0]);

			var g = svg.append("g")
    			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			grade = []
				d.forEach( function(i) {
						grade.push(i.grade)
				})

  			x.domain(d.map(function(d) { return d.test; }));
  			y.domain([0, {{maxMarks}}]);

  			g.append("g")
      			.attr("class", "axis axis--x")
      			.attr("transform", "translate(0," + height + ")")
      			.call(d3.axisBottom(x));

  			g.append("g")
      			.attr("class", "axis axis--y")
      			.call(d3.axisLeft(y).ticks(9))
    			.append("text")
      			.attr("transform", "rotate(-90)")
      			.attr("y", 6)
      			.attr("dy", "0.71em")
      			.attr("text-anchor", "end")
      			.text("Frequency");

  			g.selectAll(".bar")
    			.data(d)
    			.enter().append("rect")
      			.attr("class", "bar")
      			.attr("x", function(d) { return x(d.test); })
      			.attr("y", function(d) { return y(d.grade); })
      			.attr("width", x.bandwidth())
				.attr("fill", (d) => {
					return chooseFill(d.module)
					})
      			.attr("height", function(d) { return height - y(d.grade); });
		}

	function createGraph2() {
			var palette = ["#B2912F", "#B276B2", "#DECF3F", "#F15854","#4D4D4D","#5DA5DA", "#FAA43A", "#60BD68", "#F17CB0"]
			var pal = {count: 0}
			function chooseFill(name) {
				if(pal[name] == undefined) {
					pal[name] = palette[pal['count']]
					pal['count'] += 1
					pal['count'] = pal['count'] % 10
					return pal[name]
				}
				else {
					return pal[name]
				}
			}


			d = d3.csvParse(text)

			var svg = d3.select("#chart2"),
    		margin = {top: 20, right: 20, bottom: 30, left: 40},
    		width = +svg.attr("width") - margin.left - margin.right,
    		height = +svg.attr("height") - margin.top - margin.bottom;

			var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
    		y = d3.scaleLinear().rangeRound([height, 0]);

			function onlyUnique(value, index, self) { 
    			return self.indexOf(value) === index;
			};
			modules = []
				d.forEach( (i) => {
					modules.push(i.name)
				});
			modules = modules.filter(onlyUnique)
			final_list = "name,avg\n"

			mod_count = 0
			modules.forEach((i) => {
				grade = 0
				count = 0
				d.forEach( (j) => {
					if (j.name == i) {
						grade = grade + Number(j.grade)
						count = count + 1
					}
				})
				mod_count += 1
				avg = grade/count
				final_list = final_list + i + "," + avg + "\n"
			})

			d = d3.csvParse(final_list)

			var g = svg.append("g")
    			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");


  			x.domain(d.map(function(d) { return d.name; }));
  			y.domain([0, {{maxMarks}}]);

  			g.append("g")
      			.attr("class", "axis axis--x")
      			.attr("transform", "translate(0," + height + ")")
      			.call(d3.axisBottom(x));

  			g.append("g")
      			.attr("class", "axis axis--y")
      			.call(d3.axisLeft(y).ticks(9))
    			.append("text")
      			.attr("transform", "rotate(-90)")
      			.attr("y", 6)
      			.attr("dy", "0.71em")
      			.attr("text-anchor", "end")
      			.text("Frequency");

  			g.selectAll(".bar")
    			.data(d)
    			.enter().append("rect")
      			.attr("class", "bar")
      			.attr("x", function(d) { return x(d.name); })
      			.attr("y", function(d) { return y(d.avg); })
      			.attr("width", x.bandwidth())
      			.attr("height", function(d) { return height - y(d.avg); })
				.attr("fill", function(d) { 
					return chooseFill(d.name) 
				})
	}

	createGraph();
	createGraph2();
}





</script>



{% endblock %}
