{% extends 'admin/master.html' %}
{% block body %}

  <div class="AddStudent">

    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>Students</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="/student/new"><i class="fas fa-plus-circle"></i><p>Add Student</p></a></span>
      <span class="button"><a href="/student"><i class="fas fa-user"></i><p>Browse Students</p></a></span>
      <br><br><br>
      <p class="sub1"><i class="fas fa-chevron-right"></i>Register New Student</p>
      <br><br>

      <div class="StudentForm">
        <form action="" method="post">
          <input type="text" placeholder="First Name" name="fname" /><br>
          <input type="text" placeholder="Last Name" name="lname" /><br>
          <input type="email" placeholder="Email" name="email" /><br>
          <input type="text" placeholder="Phone Number" name="phone" /><br>
          <input type="text" class="datepicker" name="DOB" placeholder="Date of Birth"/><br>
          <input type="text" name="RFID" placeholder="RFID Number" /><br>
          <input type="text" name="source" placeholder="Source" /><br>
          <input type="text" name="grade10" placeholder="Marks in Grade 10" /><br>
          <input type="text" name="grade12" placeholder="Marks in Grade 12" /><br>
          <input type="text" name="graduate" placeholder="Marks in Graduate" /><br>
          <input type="text" name="PG" placeholder="Marks in Post Graduate" /><br>
          <input type="text" name="NOB" placeholder="No. of Backlog" /><br><br>
          <p>Select Batch</p>
          <select name="batch">
              {% for batch in batches %}
                <option value="{{batch.id}}">{{batch.name}}</option>
              {% endfor %}
          </select>
          <br><br>
          <p>Select Target Country(s)</p>
          <select name="country[]" multiple>
              {% for country in countries %}
                <option value="{{country.name}}">{{country.name}}</option>
              {% endfor %}
          </select><br>
          <br><br>
          <p>student fees - select the number of installments</p>
          <br>
                <select id="installments" name="inst">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select> <br>

                <div id="fees">
                    <input type="text" name="installments[]" placeholder="installment amount" /> <input type="text" class="datepicker" name="idates[]" placeholder="installment date" /><br>
                </div>
          <br>
          <button><i class="fas fa-plus-circle"></i>Add</button>
        </form>
        <br><br>
      </div>
    </div>
  </div>

  <script>
    $( function() {
        $( ".datepicker" ).datepicker({
              dateFormat : 'yy-mm-dd',
              changeMonth : true,
              changeYear : true,
              yearRange : '1980:'
          });
      } );

      $("#installments").change(function(){
          $("#fees").html("")
          var d = '<input type="text" name="installments[]" placeholder="installment amount" /> <input type="text" class="datepicker" name="idates[]" placeholder="installment date" /><br>'
          var x = parseInt($("#installments option:checked").val())
          for(var i = 1; i<=x; i++){
              $("#fees").append(d)
          }
          $( ".datepicker").datepicker({
                   dateFormat : 'yy-mm-dd',
                   changeMonth : true,
                   changeYear : true,
                   yearRange : '1980:2005'
          });
      })
  </script>
{% endblock %}
