{% extends 'admin/master.html' %}
{% block body %}

  <div class="AddStudent">

    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>Students</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="/student/new"><i class="fas fa-plus-circle"></i><p>Add Student</p></a></span>
      <span class="button"><a href="/student"><i class="fas fa-user"></i><p>Browse Students</p></a></span>
      <br><br><br>
      <p class="sub1"><i class="fas fa-chevron-right"></i>Register New Student</p>
      <br><br>

      <div class="StudentForm">
        <form action="" method="post">
          <input type="text" placeholder="First Name" name="fname" /><br>
          <input type="text" placeholder="Last Name" name="lname" /><br>
          <input type="email" placeholder="Email" name="email" /><br>
          <input type="text" placeholder="Phone Number" name="phone" /><br>
          <input type="text" id="datepicker" name="DOB" placeholder="Date of Birth"/><br>
          <input type="text" name="RFID" placeholder="RFID Number" /><br>
          <input type="text" name="source" placeholder="Source" /><br>
          <input type="text" name="grade10" placeholder="marks in grade 10" />
          <input type="text" name="grade12" placeholder="marks in grade 12" />
          <input type="text" name="graduate" placeholder="marks in graduate" />
          <input type="text" name="PG" placeholder="marks in post graduate" />
          <input type="text" name="NOB" placeholder="no of backlog" />
          <p>select batch</p>
          <select name="batch">
              {% for batch in batches %}
                <option value="{{batch.id}}">{{batch.name}}</option>
              {% endfor %}
          </select>
          <br>
          <p>select target country</p>
          <select name="country">
              {% for country in countries %}
                <option value="{{country.id}}">{{country.name}}</option>
              {% endfor %}
          </select>
          <button><i class="fas fa-plus-circle"></i>Add</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    $( function() {
        $( "#datepicker" ).datepicker({
              dateFormat : 'yy-mm-dd',
              changeMonth : true,
              changeYear : true,
              yearRange : '1980:2005'
          });
      } );
  </script>
{% endblock %}
