<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cafelingua : browse modules</title>
</head>
<body>
    <h1>Modules</h1>
    <ul>
        <li><a href="#">browse modules</a></li>
        <li><a href="/module/new">add modules</a></li>
    </ul>

    <h2>Currently registered modules:</h2>
    <div class="msg">{{msg}}</div>
    <table border="1" cellpadding="2">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>description</th>
                <th>duration (days)</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
            {% for module in modules: %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{module.name}}</td>
                    <td>{{module.desc}}</td>
                    <td>{{module.duration}}</td>
                    <td><a href="/module/update/{{module.id}}">update</a>&nbsp;<a href="/module/delete/{{module.id}}">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>