{% extends 'admin/master.html' %}
{% block body %}

  <div class="BrowseModule">
    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>Modules</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="/module/new"><i class="fas fa-plus-circle"></i><p>Add Module</p></a></span>
      <span class="button"><a href="/module"><i class="fas fa-bookmark"></i><p>Browse Module</p></a></span>
      <br><br><br>
      <p class="sub1"><i class="fas fa-chevron-right"></i>Currently Registered Modules</p>
      <br><br>

      <table>
        <thead>
          <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Description</th>
              <th>Duration (Days)</th>
              <th>Maximum marks</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for module in modules: %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{module.name}}</td>
                    <td>{{module.desc}}</td>
                    <td>{{module.duration}}</td>
                    <td>{{module.maxMarks}}</td>
                    <td>
                      <a href="/module/update/{{module.id}}">Update</a>&nbsp;
                      <a href="/module/delete/{{module.id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    <!-- <h1>Modules</h1>
    <ul>
        <li><a href="#">browse modules</a></li>
        <li><a href="/module/new">add modules</a></li>
    </ul>

    <h2>Currently registered modules:</h2>
    <div class="msg">{{msg}}</div>
    <table border="1" cellpadding="2">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>description</th>
                <th>duration (days)</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
            {% for module in modules: %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{module.name}}</td>
                    <td>{{module.desc}}</td>
                    <td>{{module.duration}}</td>
                    <td><a href="/module/update/{{module.id}}">update</a>&nbsp;<a href="/module/delete/{{module.id}}">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
{% endblock %}
