{% extends 'admin/master.html' %}
{% block body %}

  <div class="UpdateModule">
    <div class="UserDetail">
      <h3>Dr. Deepak Mashru</h3>
      <img src="https://0.academia-photos.com/6365507/3086920/3632179/s200_deepak.mashru.jpg" alt="">
      <!-- <p><i class="fas fa-angle-down"></i></p> -->
    </div>

    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>Courses</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="/module/new"><i class="fas fa-plus-circle"></i><p>Add Module</p></a></span>
      <span class="button"><a href="/module"><i class="fas fa-bookmark"></i><p>Browse Modules</p></a></span>
      <br><br><br>
      <p class="sub1"><i class="fas fa-chevron-right"></i>update {{module.name}}</p>
      <br><br>

      <div class="UpdateModualForm">
        <form action="" method="post">
          <p>Name of Module</p>
          <input type="text" name="name" placeholder="Name of Module" value="{{module.name}}" /><br>
          <p>Description</p>
          <textarea name="desc" cols="30" rows="10" placeholder="Description" style="resize: none;">{{module.desc}}</textarea><br>
          <p>Days</p>
          <input type="text" name="duration" max="4" placeholder="Days" value="{{module.duration}}" /><br>
          <p>Maximum marks</p>
          <input type="text" name="maxMarks" placeholder="maxMarks" value="{{module.maxMarks}}" /><br>
          <button><i class="fas fa-wrench"></i>Update</button>
        </form>
      </div>
    </div>
  </div>

    <!-- <h1>Modules</h1>
    <ul>
        <li><a href="/module">browse modules</a></li>
        <li><a href="/module/new">add modules</a></li>
    </ul>

    <h2>update {{module.name}} module</h2>
    <div class="msg">{{msg}}</div>
    <form action="" method="post">
        <table cellpadding="5">
            <tbody>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" id="name" name="name" value="{{module.name}}"></td>
                </tr>
                <tr>
                    <td><label for="desc">description:</label></td>
                    <td><textarea name="desc" id="desc" cols="30" rows="10" style="resize: none;">{{module.desc}}</textarea></td>
                </tr>
                <tr>
                    <td><label for="duration">duration:</label></td>
                    <td><input type="text" id="duration" name="duration" value="{{module.duration}}"> days</td>
                </tr>
            </tbody>
        </table>
        <button>update</button>
    </form> -->
{% endblock %}
