{% extends 'admin/master.html' %}
{% block body %}


  <div class="AboutCourse">
    <div class="UserDetail">
      <h3>Dr. Deepak Mashru</h3>
      <img src="https://0.academia-photos.com/6365507/3086920/3632179/s200_deepak.mashru.jpg" alt="">
      <!-- <p><i class="fas fa-angle-down"></i></p> -->
    </div>

    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>About {{course.name}}</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="#"><i class="fas fa-plus-circle"></i><p>Add Courses</p></a></span>
      <span class="button"><a href="#"><i class="fas fa-book-open"></i><p>Browse Courses</p></a></span>
      <br><br><br>
      <p class="sub1"><i class="fas fa-chevron-right"></i>Modules</p>
      <br><br>
      <div class="CourseList">
        <span><i class="fas fa-caret-right"></i><p>Module 1</p></span>
        <span><i class="fas fa-caret-right"></i><p>Module 2</p></span>
        <span><i class="fas fa-caret-right"></i><p>Module 3</p></span>
      </div>
    </div>
  </div>

    <!-- <h1>about {{course.name}}</h1>

    <h2>modules:</h2>
        <ul>
            {% for module in modules %}
                <li>{{module.name}}</li>
            {% endfor %}
        </ul> -->
{% endblock %}
