{% extends 'admin/master.html' %}
{% block body %}

  <div class="BrowseCourse">
    <div class="UserDetail">
      <h3>Dr. Deepak Mashru</h3>
      <img src="https://0.academia-photos.com/6365507/3086920/3632179/s200_deepak.mashru.jpg" alt="">
      <!-- <p><i class="fas fa-angle-down"></i></p> -->
    </div>

    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>Courses</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="#"><i class="fas fa-plus-circle"></i><p>Add Courses</p></a></span>
      <span class="button"><a href="#"><i class="fas fa-book-open"></i><p>Browse Courses</p></a></span>
      <br><br><br>
      <p class="sub1"><i class="fas fa-chevron-right"></i>Currrently Registered Courses</p>
      <br><br>

      <table>
        <thead>
          <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{course.name}}</td>
                    <td><a href="#">update</a> <a href="/course/about/{{course.id}}">About</a> <a href="/course/delete/{{course.id}}">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    <!-- <h1>Courses</h1>
    <ul>
        <li><a href="#">Browse courses</a></li>
        <li><a href="/course/new">new course</a></li>
    </ul>

    <h2>Currrently registered courses</h2>
    <table border="1" cellpadding="2">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{course.name}}</td>
                    <td><a href="#">update</a> <a href="/course/about/{{course.id}}">About</a> <a href="/course/delete/{{course.id}}">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
{% endblock %}
