<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="maximum-scale=1, width=1080">
    <link rel="shortcut icon" href="../assets/img/icon.png">
    <link rel="stylesheet" href="../assets/scss/admin.min.css">
</head>
<body>
  <div class="AdminDashboard">
    <div class="CafeColor tab"></div>
    <div class="MenuPanel tab">
      <img src="../assets/img/logox500.png" alt="logo">
      <div class="Menu">
        <a href="#"><i class="fas fa-clipboard"></i><p>Dashboard</p></a>
        <a href="#"><i class="fas fa-user"></i><p>Student</p></a>
        <a href="#"><i class="fas fa-users"></i><p>Batches</p></a>
        <a href="#"><i class="fas fa-bookmark"></i><p>Modules</p></a>
        <a href="#"><i class="fas fa-book-open"></i><p>Courses</p></a>
        <a href="#"><i class="fas fa-file-alt"></i><p>Tests</p></a>
      </div>
      <div class="LogoutButton">
        <a href="#"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
  </div>

  <div class="BrowseCourse">
    <div class="UserDetail">
      <h3>Dr. Deepak Mashru</h3>
      <img src="https://0.academia-photos.com/6365507/3086920/3632179/s200_deepak.mashru.jpg" alt="">
      <!-- <p><i class="fas fa-angle-down"></i></p> -->
    </div>

    <div class="Title">
      <h3><i class="fas fa-chevron-right"></i>Courses</h3>
    </div>
    <br><br>

    <div class="Board">
      <span class="button"><a href="#"><i class="fas fa-plus-circle"></i><p>Add Courses</p></a></span>
      <span class="button"><a href="#"><i class="fas fa-book-open"></i><p>Browse Courses</p></a></span>
      <br><br><br>
      <p class="sub1"><i class="fas fa-chevron-right"></i>Currrently Registered Courses</p>
      <br><br>

      <table>
        <thead>
          <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Courses 1</td>
            <td>
              <a href="#">About</a>
              <a href="#">Delete</a>
              <a href="#">Update</a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Courses 2</td>
            <td>
              <a href="#">About</a>
              <a href="#">Delete</a>
              <a href="#">Update</a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Courses 2</td>
            <td>
              <a href="#">About</a>
              <a href="#">Delete</a>
              <a href="#">Update</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <!-- <h1>Courses</h1>
    <ul>
        <li><a href="#">Browse courses</a></li>
        <li><a href="/course/new">new course</a></li>
    </ul>

    <h2>Currrently registered courses</h2>
    <table border="1" cellpadding="2">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{course.name}}</td>
                    <td><a href="#">update</a> <a href="/course/about/{{course.id}}">About</a> <a href="/course/delete/{{course.id}}">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
</body>
</html>
